<h2>Transactions {{ accountId }}</h2>
<table>
  <ng-container *ngFor="let transaction of transactions">
    <tr>
      <ng-container *ngIf="transaction.from_account_id == accountId">
        <td class="clickable" (click)="showSummary(transaction)">{{ transaction.to_account_id }}</td>
        <td style="color: red; font-weight: bold;">¢ {{ transaction.amount }}</td>
      </ng-container>
      <ng-container *ngIf="transaction.to_account_id == accountId">
        <td class="clickable" (click)="showSummary(transaction)">{{ transaction.from_account_id }}</td>
        <td style="font-weight: bold;">¢ {{ transaction.amount }}</td>
      </ng-container>
      <td>{{transaction.opened_date | date}}</td>
      <app-transaction-summary *ngIf="transaction.id === shownTransaction" [transaction]="transaction"
        [accountId]="accountId" (close)="hideSummary()"></app-transaction-summary>
    </tr>
  </ng-container>
</table>
